@(message: String, todos: Seq[tables.TodoItem])

<!DOCTYPE html>

<html>
    <head>
    </head>
    <body>
	DEBUG: @message
	<table>
	    <tr>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
	    </tr>
	     @for(todo <- todos) {
			 <tr>
			     <td>
					 @if(todo.complete) {
						 <input type="checkbox" checked>
					 } else {
						 <input type="checkbox">
					 }
					@todo.body
				 </td>
			     <td></td>
			     <td></td>
			     <td></td>
			     <td></td>
			 </tr>
	    }

    </body>
</html>
